/* GOOGLE FONTS */
/* @import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Poppins&display=swap"); */
/* VARIABLE CSS */
:root {
 /* colors */
 --first-color: #213162;
 --first-color-dark: #07090f;
 --text-color: #98473e;
 --first-color-light: #b49082;
 --first-colorlighten: #f0dae1;

 /* font and typography */
 --body-font: "Montserrat", sans-serif;
 --biggest-font-size: 2.5rem;
 --h1-font-size: 1.5rem;
 --h2-font-size: 1.25rem;
 --h3-font-size: 1.125rem;
 --normal-font-size: 0.938rem;
 --small-font-size: 0.813rem;
 --biggest-font-size: 0.75rem;

 /* font weight */
 --font-medium: 500;
 --font-semi-bold: 600;
 --font-bold: 700;

 /* margenes */
 --mb-1: 0.5rem;
 --mb-2: 1rem;
 --mb-3: 1.5rem;
 --mb-4: 2rem;
 --mb-5: 2.5rem;
 --mb-6: 3rem;

 /* z-index */
 --z-normal: 1;
 --z-tooltip: 10;
 --z-fixed: 100;
}

/* MOBILE VARIABLE */
@media screen and (min-width: 768px) {
 :root {
  --biggest-font-size: 4.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 813rem;
 }
}

/* BASE */
*,
::before,
::after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
a,
ul,
li {
 text-decoration: none;
 list-style: none;
}
/* CLASS CSS */
html {
 scroll-behavior: smooth;
}
/* HEADER */
/* NAV ARRANGEMENTS */
.nav_container {
 background-color: black;
 position: fixed;
 width: 100%;
 height: 3rem;
 display: grid;
 grid-template-columns: 2fr 1fr;
 padding: 0 5% 0;
 justify-content: center;
 align-items: center;
 border-bottom: 1px solid rgb(88, 88, 88);
 z-index: 100;
}
/* NAV PROJECTS */
.nav_menu_projects {
 background-color: black;
 position: fixed;
 left: -100%;
 bottom: 0;
 width: 65%;
 height: calc(100vh - 3rem);
 overflow-y: auto;
 transition: 0.3s;
}
.main_heading {
 color: whitesmoke;
 text-transform: uppercase;
 transition: 0.4s;
}
.main_heading:hover {
 transform: scale(1.5);
}
.sub_heading {
 color: var(--first-color-light);
}
/* SHOW PROJECTS */
.show_projects {
 left: 0;
}
.project {
 width: 100%;
 padding: 1rem 5% 1rem;
 letter-spacing: 2px;
}
/* IMAGES */
.project_image0 {
 width: 100%;
 height: 10rem;
 background-color: white;
 background: url(./images/0.jpg) center/cover no-repeat;
}
.project_image1 {
 width: 100%;
 height: 10rem;
 background-color: white;
 background: url(./images/1.jpg) center/cover no-repeat;
}
.project_image2 {
 width: 100%;
 height: 10rem;
 background-color: white;
 background: url(./images/2.jpg) center/cover no-repeat;
}
.project_image3 {
 width: 100%;
 height: 10rem;
 background-color: white;
 background: url(./images/3.jpg) center/cover no-repeat;
}
/* NAV LINKS */
.nav_menu_links {
 background-color: rgb(39, 31, 31);
 position: fixed;
 right: -100%;
 bottom: 0;
 width: 35%;
 height: calc(100vh - 3rem);
 transition: 0.4s;
}
/* SHOW LINKS */
.show_links {
 right: 0;
}
.nav_links {
 display: flex;
 flex-direction: column;
 padding: 1rem 5% 0;
}
.nav_links a {
 padding-bottom: 4rem;
 text-transform: uppercase;
 color: whitesmoke;
 letter-spacing: 2px;
 transition: 0.4s;
}
.nav_links > a:hover {
 color: rgb(153, 152, 152);
}
/* DOWNLOAD RESUME */
.download_resume {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 background-color: rgb(74, 74, 77);
 border-radius: 10rem;
 margin: 0 10px;
 padding: 5px 0;
 transition: 0.4s;
}
.download {
 color: rgb(160, 153, 153);
 text-transform: uppercase;
}
.download_resume {
 letter-spacing: 2px;
}
.resume {
 color: whitesmoke;
 /* background-color: black; */
 text-transform: uppercase;
 font-weight: var(--font-semi-bold);
}
/* NAV TITLE */
.nav_main {
 display: flex;
 justify-content: start;
 color: white;
 transition: 0.4s;
}

.nav_sub {
 display: flex;
 color: whitesmoke;
 justify-content: center;
 /* background-color: blue; */
 align-items: center;
 cursor: context-menu;
}
.nav_title {
 display: grid;
 grid-template-columns: 1fr 1fr;
 /* background-color: red; */
 letter-spacing: 2px;
}

/* HAMBURGER MENU */
.hamburger_menu {
 display: flex;
 justify-content: flex-end;
 /* background-color: blue; */
 position: relative;
 right: 0;
 cursor: pointer;
}

.hamburger_menu::after {
 content: "";
 /* background-color: blue; */
 position: absolute;
 width: 22px;
 height: 16px;
 transform: translateY(-7px);
 z-index: 0.1;
}

.hamburger_menu a {
 background-color: whitesmoke;
 width: 1.4rem;
 height: 0.185rem;
 position: relative;
 cursor: pointer;
}
.hamburger_menu a::before,
.hamburger_menu a::after {
 content: "";
 background-color: inherit;
 position: absolute;
 width: inherit;
 height: inherit;
}
.hamburger_menu a::before {
 transform: translateY(-6px);
}
.hamburger_menu a::after {
 transform: translateY(6px);
}

/* HERO */
.hero_container {
 width: 100%;
 height: calc(75vh - 3rem);
 background-color: black;
 padding-top: 3rem;
}
.hero_grid {
 height: 100%;
 padding: 5% 5%;
 background-color: black;
}
/* SHORT INTRO */
.short_intro {
 color: white;
 height: 50%;
 /* background-color: red; */
 display: flex;
 justify-content: space-around;
 align-items: center;
 text-align: center;
 margin-bottom: 10px;
}
.short_intro div:not(:first-child) {
 margin-bottom: 15px;
}
.name {
 font-size: 20px;
 text-transform: uppercase;
 margin-bottom: 5px;
}
.main_text {
 color: var(--first-color-light);
}
.intro_picture {
 /* background-color: blue; */
 background: url(./images/intro.jpg) center/cover no-repeat;
 width: 50%;
 height: 100%;
}
.intro_text {
 width: 50%;
 /* background-color: red; */
}
/* HERO VIDEO */
.hero_video {
 color: white;
 height: 50%;
 /* background-color: green; */
 position: relative;
}
.video {
 position: absolute;
 width: 100%;
 height: 100%;
}
.what_i_do {
 padding-top: 20px;
 /* background-color: violet; */
 position: absolute;
 display: flex;
 justify-content: center;
 text-align: center;
 text-transform: uppercase;
}
/* social icons */
.social_icons {
 color: white;
 height: 10%;
 /* background-color: blue; */
 position: absolute;
 bottom: 0;
 width: 100%;
 padding: 0 20%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 margin-bottom: 20px;
}
.social_icons a {
 color: white;
 transition: 0.4s;
}
.social_icons a:hover {
 color: var(--first-color-light);
}

/* SKILLS CONTAINER */
.skills_container {
 width: 100%;
 height: 75vh;
 background-color: wheat;
}

/* LAYOUT */
/* HEADER */
/* SHOW MENU */
/* ACTIVE MENU */
/* CHANGE BACKGROUND HEADER */
/* SCROLL TOP */
/* SHOW SCROLL TOP */
